.classpath
.codepro
.DS_Store
.gradle
.idea
.project
.settings
build
gradle
gradlew
gradlew.bat
target
src/test/resources/config.properties
bin/

src/test/java/com/ibm/watson/developer_cloud/text_to_speech/v1/TextToSpeechIntegrationTest.java
*.iml
