.classpath
.codepro
.DS_Store
.gradle
.idea
.project
.settings
build
out
target
bin/
*.iml
*.ipr
*.iws
config.properties
.config.properties
.checkstyle
.gradletasknamecache
docs
.swagger-codegen-ignore
.vscode/
.swagger-codegen/VERSION
*.orig
*.rej
compare-comply/src/test/resources/compare_comply/cloud-object-storage-credentials-input.json
compare-comply/src/test/resources/compare_comply/cloud-object-storage-credentials-output.json
secrets.tar
package-lock.json
model_result.mlmodel
.openapi-generator-ignore
.openapi-generator/
package-lock.json
.pre-commit-config.yaml
.secrets.baseline
*.test-metadata.txt
*.py