.classpath
.codepro
.DS_Store
.gradle
.idea
.project
.settings
build
out
target
bin/
*.iml
*.ipr
*.iws
.config.properties
.checkstyle
.gradletasknamecache
docs
.swagger-codegen-ignore
.vscode/
conversation/src/test/java/com/ibm/watson/developer_cloud/conversation/v1/ConversationTest.java
