language: java
sudo: required
dist: trusty
jdk:
- openjdk7
- oraclejdk8
branches:
  except:
  - gh-pages
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
before_install:
- |
  if [ "$TRAVIS_JDK_VERSION" == "openjdk7" ]; then
    sudo wget "https://bouncycastle.org/download/bcprov-ext-jdk15on-158.jar" -O "${JAVA_HOME}/jre/lib/ext/bcprov-ext-jdk15on-158.jar"
    sudo perl -pi.bak -e 's/^(security\.provider\.)([0-9]+)/$1.($2+1)/ge' /etc/java-7-openjdk/security/java.security
    echo "security.provider.1=org.bouncycastle.jce.provider.BouncyCastleProvider" | sudo tee -a /etc/java-7-openjdk/security/java.security
  fi
- npm install -g npm@6.x
- sudo apt-get update
- sudo apt-get install python
install:
- if [ "${TRAVIS_TAG}" = "${TRAVIS_BRANCH}" ]; then cd appscan; make asoc-tool; cd
  ../; fi
- pip install --user bumpversion
before_script:
- if [ "${TRAVIS_TAG}" = "${TRAVIS_BRANCH}" ]; then chmod a+x ./appscan/ASOC.sh; fi
- env
- echo "TRAVIS_TAG = '${TRAVIS_TAG}'"
script:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ]
  && openssl aes-256-cbc -K $encrypted_42d9c68e608d_key -iv $encrypted_42d9c68e608d_iv -in secrets.tar.enc -out secrets.tar -d
  && tar xvf secrets.tar
  || true'
- if [ "${TRAVIS_TAG}" = "${TRAVIS_BRANCH}" ]; then ./appscan/ASOC.sh; fi
- "./gradlew install -x check"
- "./gradlew checkstyleMain"
- "./gradlew checkstyleTest"
- "./gradlew shadowJar"
- "./gradlew codeCoverageReport --continue"
- "./gradlew docs > /dev/null"
after_success:
- bash <(curl -s https://codecov.io/bash)
before deploy:
- nvm install 12
- npm install @semantic-release/changelog
- npm install @semantic-release/exec
- npm install @semantic-release/git
deploy:
- provider: script
  skip_cleanup: true
  script: npx semantic-release
  on:
    branch: master
    jdk: openjdk7
- provider: script
  script: ".utility/push-javadoc-to-gh-pages.sh"
  skip_cleanup: true
  on:
    repo: watson-developer-cloud/java-sdk
    jdk: openjdk7
    tags: true
- provider: script
  skip_cleanup: true
  script: ".utility/deploy-travis-wrapper.sh"
  on:
    tags: true
    jdk: openjdk7
notifications:
  email: true
