---
language: java
dist: xenial
os: linux

jdk:
  - openjdk8

notifications:
  email: true

branches:
  except:
    - gh-pages

cache:
  directories:
    - "$HOME/.m2"

env:
  global:
    - MVN_ARGS="--settings build/.travis.settings.xml"

stages:
  - name: Build and test
  - name: Semantic-Release
    if: branch = main AND type = push AND fork = false
  - name: Publish-Release
    if: tag IS present

jobs:
  include:
    - stage: Build and test
      jdk: openjdk8
      language: java
      install:
        - curl -s https://codecov.io/bash > $HOME/codecov-bash.sh && chmod +x $HOME/codecov-bash.sh
      script:
        - build/setMavenVersion.sh
        - mvn verify -fae -DskipITs $MVN_ARGS
      after_success:
        - build/publishCodeCoverage.sh

    - stage: Semantic-Release
      install:
        - sudo apt-get install python
        - nvm install 12
        - npm install -g npm@6.x
        - pip install --user bump2version
        - npm install @semantic-release/changelog
        - npm install @semantic-release/exec
        - npm install @semantic-release/git
        - npm install @semantic-release/github
      script:
        - npx semantic-release
      after_success:
        - echo "Semantic release has successfully created a new tagged-release"

    - stage: Publish-Release
      jdk: openjdk8
      name: Publish-Javadoc
      install: true
      script:
        - build/setMavenVersion.sh
        - mvn clean javadoc:aggregate $MVN_ARGS
        - build/publishJavadoc.sh
      after_success:
        - echo "Javadocs successfully published to gh-pages!"

    - jdk: openjdk8
      name: Publish-To-Maven-Central
      install: true
      script:
        - build/setupSigning.sh
        - build/setMavenVersion.sh
        - mvn deploy $MVN_ARGS -DskipTests -P central
      after_success:
        - echo "Maven artifacts successfully published to Maven Central!"