<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "language_translator.v3">
    <test name = "test">
        <classes>
            <class name = "com.ibm.watson.language_translator.v3.LanguageTranslatorTest"/>
        </classes>
    </test>
</suite>