<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "compare_comply.v1">
    <test name = "test">
        <classes>
            <class name = "com.ibm.watson.compare_comply.v1.CompareComplyTest"/>
        </classes>
    </test>
</suite>