<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "natural_language_classifier.v1">
    <test name = "test">
        <classes>
            <class name = "com.ibm.watson.natural_language_classifier.v1.NaturalLanguageClassifierTest"/>
        </classes>
    </test>
</suite>